<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.arm.debugger.launcher2">
    <mapAttribute key="AverageDurationTracker">
        <mapEntry key="*Fetching Data Model" value="148561"/>
        <mapEntry key="*list global low level symbols" value="473412"/>
        <mapEntry key="*loading memory from target" value="1139861"/>
        <mapEntry key="*loading values from target" value="953888"/>
        <mapEntry key="*updating registers" value="9252853"/>
        <mapEntry key="*updating variables" value="881165"/>
        <mapEntry key="AddEventObserver" value="660961"/>
        <mapEntry key="Evaluate" value="3963989"/>
        <mapEntry key="Retrieving globals list" value="4236503"/>
        <mapEntry key="areCachesAvailable" value="326763"/>
        <mapEntry key="break" value="1451728"/>
        <mapEntry key="compute execution mode" value="331441"/>
        <mapEntry key="continue" value="3632074"/>
        <mapEntry key="core" value="10000086"/>
        <mapEntry key="disable" value="1097592"/>
        <mapEntry key="disassemble" value="28221066"/>
        <mapEntry key="finish" value="16527016"/>
        <mapEntry key="get byte order" value="179179"/>
        <mapEntry key="get capabilities" value="76837"/>
        <mapEntry key="get execution addresss" value="317475"/>
        <mapEntry key="get source lines" value="298607"/>
        <mapEntry key="getValidEncodings" value="420798"/>
        <mapEntry key="initialize command help" value="16598879"/>
        <mapEntry key="interrupt" value="432924"/>
        <mapEntry key="list breakpoint options" value="105873"/>
        <mapEntry key="list breakpoints" value="217399"/>
        <mapEntry key="list instruction sets" value="93936"/>
        <mapEntry key="list signals" value="524394"/>
        <mapEntry key="list watchpoint options" value="97420"/>
        <mapEntry key="list watchpoints" value="146156"/>
        <mapEntry key="loadfile" value="8220221"/>
        <mapEntry key="next" value="58109111"/>
        <mapEntry key="reload-symbol-file" value="24246554"/>
        <mapEntry key="remove" value="2718803"/>
        <mapEntry key="run" value="2069845"/>
        <mapEntry key="set CWD" value="932005"/>
        <mapEntry key="set breakpoint properties" value="1630082"/>
        <mapEntry key="set debug-from" value="685403"/>
        <mapEntry key="source use_model_semihosting.ds" value="4035664"/>
        <mapEntry key="start" value="11427259"/>
        <mapEntry key="step" value="63063317"/>
        <mapEntry key="toggleBreakpoint" value="5457036"/>
        <mapEntry key="waitForTargetToStop" value="12540571"/>
    </mapAttribute>
    <stringAttribute key="CLOCK_SPEED" value="Auto"/>
    <intAttribute key="DEBUG_TAB..RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.CONNECT_TO_GDB_SERVER.RESOURCES.COUNT" value="0"/>
    <intAttribute key="FILES.DEBUG_EXISTING_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_ANDROID"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.DEBUG_RESIDENT_APP"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.TYPE" value="APPLICATION_ON_TARGET"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.VALUE" value=""/>
    <intAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.COUNT" value="2"/>
    <listAttribute key="FILES.DOWNLOAD_AND_DEBUG">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.COUNT" value="3"/>
    <listAttribute key="FILES.DOWNLOAD_DEBUG">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.TYPE" value="TARGET_DOWNLOAD_DIR"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.VALUE" value=""/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.VALUE" value=""/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.COUNT" value="3"/>
    <intAttribute key="FILES.DOWNLOAD_DEBUG_ANDROID.RESOURCES.COUNT" value="0"/>
    <listAttribute key="FILES.ICE_DEBUG">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.VALUE" value="${workspace_loc:/Assignment5/Debug/Assignment5.axf}"/>
    <intAttribute key="FILES.ICE_DEBUG.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.COUNT" value="1"/>
    <listAttribute key="FILES.ICE_DEBUG_WITH_TRACE">
        <listEntry value="ON_DEMAND_LOAD"/>
        <listEntry value="ALSO_LOAD_SYMBOLS"/>
    </listAttribute>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
    <stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.VALUE" value=""/>
    <intAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.COUNT" value="1"/>
    <stringAttribute key="FILES.SELECTED_DEBUG_OPEATION" value="ICE_DEBUG"/>
    <stringAttribute key="HOST_WORKING_DIR" value="${workspace_loc}"/>
    <booleanAttribute key="HOST_WORKING_DIR_USE_DEFAULT" value="true"/>
    <booleanAttribute key="KEY_COMMANDS_AFTER_CONNECT" value="false"/>
    <stringAttribute key="KEY_COMMANDS_AFTER_CONNECT_TEXT" value=""/>
    <booleanAttribute key="KEY_COMMANDS_AS_CONNECT" value="false"/>
    <booleanAttribute key="RSE_USE_HOSTNAME" value=